
body {
  font-family: $font-family;
  background-color: $light;
  color: $dark;
  margin: 0;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul,
ol {
  padding-left: 2rem;
  margin-bottom: 1rem;
}